//Font principal
$fontPrincipal: 'Fredericka the Great',
cursive;
//Font body
$fontBody: 'Alegreya Sans',
sans-serif;
//Font weight
$light: 300;
$regular: 400;
$bold: 700;
//Size Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
//Space
$space: 5rem;
//Colors
$white: #FFFFFF;
$bgHeader: rgb(0, 0, 0, 0.6);
$bgNav: rgb(255, 255, 255, 0.5);
$bgSubMenu: rgb(88, 88, 88, 0.5);
$blackGray: #333333;
// $blueDark: #150050;
// $brown: #706C61;
$black: #000000;
$brownLight: #fcf9f5;
$blueDark: #002535;
$blue: #003851;
$blueGreen: #22646e;
$lightColor: #bfd2d9;
$blueLight: #3b89ac;
$blueHeader: #0f0c29;