.schedule {
    background-color: $blackGray;
}

.container-schedule {
    .container-img {
        img {
            height: 100%;
        }
    }
    .phraseContact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $space;
        text-align: center;
        h2 {
            font-family: $fontPrincipal;
            font-weight: $regular;
            color: $white;
        }
        a {
            color: $white;
            border: 1px solid $white;
            padding: 1rem 2rem;
            border-radius: 1rem;
            width: 100%;
            transition: all 300ms;
            text-transform: uppercase;
            @include phone {
                width: 80%;
                margin: 0 auto;
            }
            @include tablet {
                width: 20rem;
            }
            &:hover {
                background-color: $white;
                color: $black;
            }
        }
    }
    @include tablet {
        @include grid(2, $space / 2)
    }
}